{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}


{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Email enviado</h1>
            <p>Te hemos enviado un email con un enlace de activación desde el que podrás reestablecer tu contraseña</p>
        </div>
    </div>

{% endblock %}